.shimmer {
  @apply relative overflow-hidden bg-white/[0.06] after:absolute after:inset-0 after:translate-x-[-100%] after:content-[''] after:bg-shimmer-gradient ;
  animation: wave 1.25s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.shimmer-fast {
  @apply relative overflow-hidden bg-white/[0.06] after:absolute after:inset-0 after:translate-x-[-100%] after:content-[''] after:bg-shimmer-gradient ;
  animation: shimmer-fast 0.8s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.shimmer-dark {
  @apply relative overflow-hidden bg-black/[0.06] after:absolute after:inset-0 after:translate-x-[-100%]  after:content-[''] after:bg-shimmer-gradient-dark ;
  animation: wave 1.25s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.pulse-subtle {
  @apply bg-white/[0.04];
  animation: pulse-subtle 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
